$primary-base: #22BCAC;
$primary-alt: #1C998C;

$secondary-base: #ddd;
$secondary-alt: #999;

$complimentary-base: #BC2256;
$tertiary-base: #e85f1b;

$neutral-base: #ddd;
$neutral-alt: #eee;

$border-base: #ddd;
$border-alt: #eee;

$highlight-base: #dbfff2;

$voice-escalated: #D40000;
$voice-pending: #E27100;
$voice-inprogress: #71E37A;
$voice-resolved: #59997D;
$voice-rejected: #FF9E9E;

//---- font -----------------------------------
$text-size-heading-1: 0.9rem;
$text-size-heading-2: 0.8rem;
$text-size-subheading: 0.7rem;
$text-size-body: 0.9rem;
$text-size-small: 0.8rem;
$text-size-xsmall: 0.75rem;

$lineheight-base: 1rem;

$text-base: #666;
$text-dark: #000;
$text-altdark: #333;
$text-light: #999;
$icon-color: #999;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;