.meeting-details {
    .content-container {
        background-color: #ffffff;
        padding: 1.5rem;
        position: relative;
        .page-title-section {
            .rating-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .title {
                    font-size: 0.9rem;
                    font-weight: 600;
                    margin-bottom: 6px;
                }
            }
        }
    }

    .large-icon-container {
        display: flex;
        flex-wrap: wrap;
        background: #eee;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 0 auto;
        .large-icon {
            font-size: 3.6rem;
            color: #999999;
        }
    }

    .screen-badge-text {
        display: block;
        margin: 2rem auto;
        display: flex;
        color: #909090;
        justify-content: center;
        font-size: 1.6rem;

        .badge-icon {
            font-size: 2rem;
            margin-right: 0.8rem;
            color: #237fca;
            font-weight: 500;
            padding: 0.2rem;
        }

        .badge-text {
            font-size: 1.6rem;
            font-weight: 500;
            color: #237fca;
        }
    }

    .page-content-section {

        .section-title {
            color: #909090;
            font-weight: 400;
            font-size: 1rem;
        }

        .new-section-title {
            //margin-top: 1rem;
            font-weight: bold;
            color: #22bcac;
            border-bottom: 1px solid  #22bcac;
            margin-bottom: .5rem;
        }

        .input-container {
            //padding-left: 2.8rem;
            padding-left: 30px;
            padding-right: 30px;
            .input-field {
                //width: 17rem;
                width: 100%;
            }
        }

        .textwrap-btn-container {
            padding-top: 1.7rem;
            /* display: flex; */
            /* align-items: baseline; */
            /* justify-content: start; */
            height: 100%;
        }

        .selected-chips-container {
            /*display: flex;
            flex-direction: row;
            flex-wrap: wrap;*/
            display: block;

            .chip-list-item {
                margin-right: 0.5rem;
                //margin-bottom: 0.5rem;
                width: 100%;
                flex-basis: 100%;
                margin-bottom: .2rem;

                .chip-item{
                    width: 100%;
                    border-radius: 0;
                    justify-content: flex-start;
                    background: #fff;
                    border-bottom: 1px solid  #ccc;
                }
            }
            .chip-item-wrapper{
                margin: 0;

                .chip-item{
                    width: 100%;
                    justify-content: flex-start;
                    padding: 0.3rem 0.5rem;
                    background: #f7f7f7;
                    border-bottom: 2px solid  #fff;
                    border-left: 5px solid #eee;
                    border-radius: 0;
                    min-height: 50px;

                    .chip-avatar{
                        width: 35px;
                        height: 35px;
                    }
                    .chip-label{
                    }
                    .chip-delete{
                        margin-left: auto;
                    }
                }
            }
        }

        .center-button-container {
            display: flex;
            justify-content: center;
            align-content: center;
            .center-button {
                align-self: center;
            }
        }

        .list-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .contact-card-wrapper {
                width: 25%;
                margin-right: 5.2rem;
                margin-top: 1.1rem;
            }
        }

        .flex-container {
            display: flex;
            margin-top: 2rem;
        }
    }
    .fab-progress {
        color: #fff;
    }
    .userMultiChipSelect{
        .search-box-container{
            input{
                width: 100%;
            }
        }   
    }
    .hr-blind{
        border-top: 1px solid rgba(0,0,0,0);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .text-small{
        font-size: .8em;
        margin-bottom: .2rem;
    }
    .padded-content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .guest-list{
        .guest-list-item{
            padding: 0.3rem 0.5rem;
            background: #f7f7f7;
            border-bottom: 2px solid  #fff;
            border-left: 5px solid #eee;

            .guest-list-avatar{

            }
            .label{

            }

            .btn-delete{
                width: auto;
                padding: 0;
                min-width: 40px;
            }
        }
    }
    .input-container .datetime-picker-wrapper{
        width: 100%;
    }
}


