.ongoing-poll-widget{
    background: #f3f3f3;
    padding: 0.2rem 0.8rem;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;

    .poll-icon{
        margin-top: 0.3rem;
        color: #555
    }

    .poll-datas{
        flex:1;
        margin-left: 0.3rem;
        overflow: hidden;
    }

    .poll-title{
        font-size: 0.8rem;
    }

    .poll-date{
        font-size: 0.6rem;
        color: #777;
        font-weight: 500;
        display: flex;
    }

    .poll-type{
        display: flex;
        flex-direction: row;
        font-weight: 500;
        color: #555;
        justify-content: flex-end;
        &-club-name{
            font-size: 0.6rem;
            color: teal;
            font-weight: bold;
            border-radius: 5px;
            padding: 0px 2px;
            margin-left: 3px;
        }
    }

    
}