.club-select {
    .select-label{
        font-size: .8rem;
        margin-bottom: .3rem;
    }
    select {
        width: 100%;
        background: #FFFFFF;
        padding: 11px;
        font-size: 13px;
        height: 41px;
        color: #6b6b6b;
        border: 1px solid #DDDDDD;
        margin-bottom: 5%;
    }
}