.filters-wrapper {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    .col-md-3 {
        margin: 0.5rem 0;

        @media screen and (max-width: 767px) {
            min-height: 3rem;
        }
    }

    .searchbar-wrapper {
        height: 100%;
    }

    .input-select {
        background-color: transparent;
    }
}
