
.ceo-voice-wrapper{
    padding-top: 1rem;
    
    .input-filter{
        background-color: transparent;
    }
    
    .stackedchart-wrapper{
        margin-bottom: 1rem;
    }
    
    .ceo-voicesummary-wrapper{
        margin-bottom: 1rem;
    }
}