@import "../../../Util/commonStyles";

.whatshappening-wrapper {
    .detail-page-card {
        box-shadow: 0 4px 8px 0 rgba(192, 191, 191, 0.2);
        margin: 0;
        padding: 0 15px;
        width: 100%;

        .action-wrapper {
            display: flex;
            align-items: center;
            .front-buttons {
                > button {
                    margin-right: 0.3rem;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .back-buttons {
                display: flex;
                justify-content: right;
                align-items: center;
                margin-left: auto;
            }
        }
    }

    .meta-info {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-base;

        .created-by-detail-wrapper {
            p {
                font-weight: $weight-semibold;
                font-size: $text-size-small;
                margin: 0;
            }
        }
        .list-avatar {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .avatar-wrapper {
                margin: 0 0.3rem 0.3rem 0;
            }
        }
    }

    .table-meta {
        width: 100%;

        th {
            font-size: $text-size-small;
            font-weight: $weight-semibold;
            line-height: 1rem;
        }
        td {
            font-size: $text-size-small;
            line-height: 1rem;
            text-align: right;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }

    .detail-display {
        margin: 2rem 2rem 1rem;
        font-size: 0.9rem;
        .body-detail {
            margin-bottom: 1.5rem;
            .col-md-4 {
                padding-right: 0rem;
            }

            > .title {
                font-size: $text-size-heading-1;
                display: block;
                color: darken($primary-base, 10%);
                font-weight: $weight-semibold;
                margin-bottom: 0.3rem;
            }
            p {
                font-weight: 400;
                font-size: 0.8rem;
                margin-bottom: 1.5rem;
                white-space: pre-wrap;
            }
            table {
                font-size: 0.7rem;
                th {
                    font-weight: 600;
                }
            }
            .row {
                margin-bottom: 0.5rem;
                .created-by-detail-wrapper {
                    p {
                        font-weight: 500;
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                    }
                }
                .tagspecific-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    .tag {
                        font-weight: 500;
                        font-size: 0.7rem;
                    }
                    .chip-item {
                        margin: 0.1rem 0.1rem;
                        font-size: 9px;
                        height: 17px;
                        max-width: 80px;
                    }
                }
            }
            .attachment-wrapper {
                .attachment-map {
                    p {
                        margin-bottom: 0.5rem;
                    }
                    .attachment-display {
                        display: flex;
                        flex-wrap: wrap;
                        .chip-item {
                            margin: 0.1rem 0.1rem;
                            max-width: 200px;
                        }
                    }
                }
                .row {
                    margin-bottom: 0.5rem;
                }
            }
        }

        .problem-wrapper {
            .problemwrap-body {
                .title {
                    margin-top: 1rem;
                    font-size: 0.9rem;
                }
                .description {
                    font-size: 0.8rem;
                    white-space: pre-wrap;
                }

                .subtitle {
                    font-size: $text-size-small;
                    font-weight: 600;
                    margin-bottom: 0.2rem;
                }
                .created-by-detail-wrapper {
                    margin-bottom: 1.5rem;
                    .createdby-name {
                        margin-bottom: 0.1rem;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                    .createdby-role {
                        margin-bottom: 0.1rem;
                        font-size: 0.7rem;
                        font-weight: 300;
                    }
                }
                .table-wrap {
                    table {
                        font-size: 0.7rem;
                        th {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
