.edit-allowance-details-dialog-wrapper{
    .content{
        border-top: 1px solid #eee;
        padding: 1.5rem;

        .input-text{
            width: 100%;
        }
    }

    .submit-wrapper{
        padding: 0 1rem 1rem 1rem;
    }
}