.common-dashboard-container{
    display: flex;
    flex-direction: column;
    .dashboard-datas{
        display: flex;
        flex-direction: row;
    }
    .charts-container{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        .pillar-chart-container{
            flex: 3;
        }
        .compare-chart-container{
            flex: 1;
            margin-left: .5rem;
        }
    }
    .link_container{
        display: flex;
        margin-bottom: 0.7rem;


        .box{
            display: flex;
            flex-direction: column;
            //width: 10rem;
            background: white;
            border:1px solid #ddd;
            padding: 0.2rem 0.4rem;
            margin-left: 0.4rem;
            

            .title{
                font-size: 0.8rem;
                font-weight: bold;
                color:#444;
                border-bottom: 1px solid #999;
                padding: 0.3rem 0.4rem;
            }

            .links{
                display: flex;
                flex-direction: column;
                padding: 0.4rem 0.4rem;
                span{
                    font-size: 0.8rem;
                    color: green;
                    text-decoration: underline;
                    padding: 0.3rem;

                    a{
                        color: #147369;
                    }
                }
            }
        }
    }
    .tab-container{
        margin-top: 1rem;

        .difficulty-radios{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .radio-btn-comp{
                display: flex;
                align-items: center;
                .radio-btn-label{
                    margin: 0;
                    cursor: pointer;
                    font-size: .75rem;
                }
            }
        }
        &.last-weeks{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 75%;
        }
        &.compare{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin-left: 1rem;

            .compare-top-percent-container{
                flex: 1;
                margin-right: .5rem;

                .compare-top-container{
                    display: flex;
                    flex-direction: column;
                    .top-club{
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        background: #fff;
                        margin-bottom: .5rem;
                        padding: .5rem;
                        &-value{
                            font-size: 1.2rem;
                            font-weight: bold;
                            color: #444;
                            margin-right: 0.3rem;
                        }
                        &-text{
                            font-size: .9rem;
                            text-align: center;
                            color: #666;
                        }
                        &.club-target-tile{
                            flex-direction: column;
                            .top-club-target{
                                &-title{
                                    font-size: 0.8rem;
                                }
                                &-value{
                                    font-size: 1.2rem;
                                    margin: 0 auto;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        .last-weeks {
            &-table{
                &-container{
                    background: #fff;
                    padding: 1rem;
                    flex: 1;
                    overflow: hidden;
                    position: relative;
                    tr:last-child td {
                        border-bottom: none;
                    }
                    
                    &.summary{
                        .points-by-club{
                            font-size: 1.5rem;
                            font-weight: 500;
                        }
                    }
                    .table-navigate{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                    }

                    .item-tile{
                        display: flex;
                        background: #f7f7f7;
                        padding: 0.3rem;
                        margin: .3rem 0;
                        flex-direction: column;

                        .assignees-list{
                            display: flex;
                            flex-direction: row;
                            margin: 0.3rem 0;
                            .assignee{
                                margin-right: 0.4rem;
                                font-size: 0.7rem;
                                padding: .1rem .2rem;
                                background: #dddd;
                            }
                        }
                    }

                    .load-more{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        text-decoration: underline;
                        padding: 0.3rem 0;
                        margin: 0.5rem 0;
                        color: #167b6e;
                        cursor: pointer;
                        font-weight: 500;
                        &:hover{
                            background: #eee;
                            color: #3a9488;                            
                        }
                    }
                }
                &-title{
                    font-size: 1rem;
                    font-weight: 500;
                }
                &-content{
                    overflow: auto;
                    height: max-content;
                    th{
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                    .activities-container{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .activities-categories{
                            margin-right: 1rem;
                            &-item{
                                width: 9rem;
                                padding: 0.2rem;
                                font-size: .75rem;
                                cursor: pointer;
                                &:hover{
                                    background: #bbb;
                                }
                                &.active{
                                    border-right: 3px solid #22BCAC;
                                }
                            }
                        }
                        .activities-tiles{
                            flex: 1;
                        }
                    }
                    .filter-options{
                        display: flex;
                        margin: 0.5rem 0;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .filter-item{
                            flex: 0 0 20%;
                            margin: 0 1rem;
                            display: flex;
                            align-items: center;
                            &-label{
                                font-size: 0.75rem;
                                margin-right: 0.5rem;                            
                            }
                            .filter-item-select{
                                font-size: .75rem;
                                flex: 1;
                            }
                        }
                    }
                }
            }
            &-sidebar{
                background: #fff;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-height: max-content;

                &-btn{
                    display: flex;
                    align-items: center;
                    padding: .3rem;
                    flex: 1;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #2d2d2d;
                    height: 3rem;
                    padding-left: 1.5rem;
                    justify-content: space-between;
                    .count{
                        margin-right: 1rem;
                        background: #ccc;
                        padding: 0.4rem;
                    }
                    &:hover{
                        background: #d9d6d6;
                        cursor: pointer;
                    }
                    &.active{
                        border-bottom: .2rem solid #22bcac;
                        background: #f7f7f7;
                    }
                }
            }
            &-week-control{
                &-btn{
                    &s-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: .5rem;
                        align-items: center;
                    }
                    background: #dfdfdf;
                    border-radius: 10rem;
                    cursor: pointer;
                    &:hover{
                        background: #858585;
                        color: #dbdbdb;
                    }
                    &.disabled{
                        background: #dfdfdf;
                        color: #b6b6b6;
                        border-radius: 10rem;
                        cursor: auto;
                        &:hover{
                            background: #dfdfdf;
                            color: #b6b6b6;                       
                        }
                    }
                }
                &-text{
                    font-weight: bold;
                    color: #555;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        

        .compare-chart-container{
            background: #fff;
            padding: 1rem;
            flex: 2;
        }
        
        .top-5-users{
            background: #fff;
            margin: .5rem 0;
            padding: 1rem;
            &-title{
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: bold;
                color: #444;
                text-align: center;
            }
            &-table{
                &-body {
                }
                &-row{
                    .top-users{
                        overflow: hidden;
                        &-title{
                            max-width: 12.2rem;
                        }
                    }
                }
            }
            max-width: 25.3rem;
        }

        &.commitments-targets{
            .commitments-targets-tab{
                background: #fafafa;
                &-container{

                    &.targets{
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        box-shadow: 1px 1px 0px 0px #e0e0e0;
                        .fy-target-tile{
                            background: #fff;
                            padding: 1.2rem;
                            width: 15rem;
                            height: 9rem;
                            margin: .5rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            .club-target-actions{
                                position: absolute;
                                top: 0.4px;
                                right: 0.4rem;
                                &-edit-btn{
                                    font-size: 1rem;
                                    cursor: pointer;
                                }
                            }
                            .target{
                                &-point{
                                    font-size: 3rem;
                                    font-weight: bold;
                                    color: #444;
                                }
                                &-text{
                                    font-size: 1rem;
                                    color: #666;
                                }
                                &-year{
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    color: #555;
                                }
                            }
                        }
                    }

                    &.commitments{
                        margin-top: 1rem;
                        background: #fff;
                        padding: 1.2rem;
                            .commitments-list{
                                &-head{
                                    display: flex;
                                    justify-content: space-between;
                                    margin: .5rem 0;
        
                                    &-title{
                                        font-size: 1.3rem;
                                        font-weight: 500;
                                    }
                                    &-btn{
        
                                    }
                                }
                            }
                    }

                }
            }
        }
    }
}

.show-assignees-btn{
    color: #22BCAC;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.club-settings-wizard{
    width: 100%;
    padding: 1rem;
    background: #f7f7f7;
    padding-right: 2rem;
    .wizard-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        .wizard-section-title{
            height: 3rem;
            background: #fff;
            flex: 1;
            position: relative;
            padding-left: 2rem;
            display: flex;
            margin-left: 3px;
            align-items: center;
            font-weight: 500;
            &::after,
            &::before{
                position: absolute;
                top: 0;
                content: "";
                border-top: 1.5rem solid transparent;
                border-bottom: 1.5rem solid transparent;
                border-right: 0rem solid transparent;
            }
            &::after{
                right: -22px;
                border-left: 1.4rem solid #fff;                
                z-index: 2;
            }
            &::before{
                left: 0;
                content: "";
                border-left: 1.4rem solid #f7f7f7;
            }
            &.active{
                background: #22BCA4;
                &:after{
                    border-left-color: #22BCA4;
                }
            }
            &.completed{
                background: #30dec3;
                &:after{
                    border-left-color: #30dec3;
                }
            }
        }
    }
    .wizard-body{
        min-height: 15rem;
        .wizard-section-body{
            .wizard-field-body{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: 1.5rem;
                .field{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin: 0.5rem 0px;
                    align-items: center;
                    .field-label{
                        flex: 1;
                    }
                    .field-input{
                        flex: 3;
                        .input-field{
                            margin: 0;
                            width: 100%;
                            background: #fff;
                        }
                        .bod-multi-select{
                            margin-top: 0;
                        }
                    }
                }
            }
            .master-activities-list{
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
                .master-activity-item{
                    background: #ffff;
                    margin-bottom: .5rem;
                    font-size: .75rem;
                    font-weight: 500;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .title{
                        flex: 1;
                        .value{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    .customize{
                        margin-right: 1rem;
                        color: #22BCAC;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .wizard-actions{
        display: flex;
        .nav-btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .save-next-btns{
                button{
                    margin-right: 1rem;
                }
            }
        }
    }

}
.initializing{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #22bcac;
}

