
body {
    background: #eee !important;
}

.wrapper {	
	margin-top: 80px;
    margin-bottom: 80px;
}

.signin-box {
    max-width: 30rem;
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid #ddd;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px #e9e9e9;
    border-radius: 0 3rem; 
    box-shadow: 0 0 15px rgba(0,0,0,0.09);
    border-radius: 0 3rem;
    border-right-color: #444444;
    border-top-color: #444;
    border-left-color: #22bcad;
    border-bottom-color: #22bcad;
    border-width: 10px; 
    box-shadow: 0 0 100px #454545;
    background: url('/resources/images/method-draw-image.svg');
    .main-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        font-size: 1.2rem;
        top: 19px;
        width: 100%;
        font-weight: bolder;
        color: #999999;
        padding: 0 3rem;
    }
    
    .w-full {
        width: 100%;
    }

    .margin-top-medium {
        margin-top: 2rem;
    }

    .signin-logo{
        height: 7rem;
        width: 7rem;
        background: #fff;
        border-radius: 5rem;
        box-shadow: 0px 0px 7px 0px #e4e4e4;
        box-shadow: none;
        background: transparent;
        // position: absolute;
        // top: -2.5rem;
        // left: 9rem;
        img {
            width: 7rem;
            // position: absolute;
            // right: 1.2px;
        }
    }

    .signin-btn{
        background: #333;
        border-radius: 5rem;
        height: 4rem;
        min-width: 4rem;
        color: #ffffff;
        //position: absolute;
        //box-shadow: 0 3px 5px 2px rgba(171, 167, 168, 0.3);
        margin: 0;
        //left: 9rem;
        &:hover {
            background: #000;
            border-radius: 5rem;
            height: 4rem;
            min-width: 4rem;
            color: #ffffff;
            //position: absolute;
            box-shadow: 0 3px 5px 2px rgba(110, 110, 110, 0.3);
            margin: 0;
            //left: 9rem;
        }
    }

    .signin-wrap{
        // flex:1;
        padding: 1rem 0;
        width:30rem;
    }
    .signin-form{
        padding: 20px 5rem 40px 5rem;
    }

    .otp-box{
        margin: 35px 5px;
        h4{            
            small{
                color: #666;
                font-size: 0.8rem;
            }
        }
    }

    .fab-progress {
        color: #fff;
    }
    .signin-footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .floating-link {
            color: #444;
            position: absolute;
            bottom: 11px;
            font-size: 0.7rem;
            right: 39px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}