.leaderpage-wrapper {
    .leader-tab-content {
        margin: 1rem 0 2rem 0;
        background: #fff;
        padding: 1rem 2rem 2rem 2rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }
}
