@import "../../../../Util/commonStyles";

.taskupdate-dialog-wrap {
    @include common-dialog;
    > div {
        &.common-dialog-body {
            max-width: 50rem;
        }
    }
    .header {
        p {
            margin-top: 0;
            margin-bottom: 0.1rem;
            font-size: 0.9rem;
        }
    }
    .content {
        .input-select {
            margin-top: 1rem;
        }

        .create-buttons {
            margin-top: 2rem;
            text-align: right;
        }
        .date-wrap {
            .row {
                margin-top: 1rem;
                border-bottom: 1px solid #969393;
                padding: 0.05rem;
                .activity-date {
                    display: contents;

                    .rdt {
                        width: 90%;
                        .claim-input {
                            width:100%;
                            font-size: 0.8rem;
                            border: none;
                        }
                    }
                }
            }
        }
        .club-chip{
            display: flex;
        }
    }
}
