@import "../../../../Util/commonStyles";
.problem-closing-dialog-wrap {
    @include common-dialog;
    > div {
        &.common-dialog-body {
            max-width: 50rem;
        }
    }
    .header {
        p {
            margin-top: 0;
            margin-bottom: 0.1rem;
            font-size: 0.9rem;
        }
    }
}
