.my-club-widget{
    min-height: 6rem;
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    position: relative;

    &-icon{
        span{
            font-size:4rem;
            color: #444;
        }
    }

    &-data{
        display:flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        justify-content: center;
    }
    .clubname{
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1;
    }

    .count{
        font-weight: 300;
    }
    
    
    .helper-icon{
        position: absolute;
        color: #b2b6b6;
        top: 0.5rem;
        right: 0.5rem;
    }
}